In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_a = "Resources/fatalaties_wa.csv"
fatalaties = pd.read_csv(csv_a)
fatalaties.head()

   crash_id         road_user age_group
0  20215023     Pedal cyclist  40_to_64
1  20215024            Driver  40_to_64
2  20215004  Motorcycle rider  40_to_64
3  20215018  Motorcycle rider  40_to_64
4  20215001         Passenger  17_to_25

In [3]:
csv_b = "Resources/fatalcrash_wa.csv"
fatal_crash = pd.read_csv(csv_b)
fatal_crash.head()

,crash_id,state,month,year,dayweek,time,number_fatalities,bus_involvement,heavy_rigid_truck_involvement,articulated_truck_involvement,speed_limit
0,20215009,WA,1,2021,Saturday,5:55,1,No,No,No,80
1,20215018,WA,1,2021,Sunday,19:31,1,No,No,No,50
2,20215007,WA,1,2021,Monday,14:44,1,No,No,No,0
3,20215010,WA,1,2021,Tuesday,7:05,1,No,No,No,70
4,20215015,WA,1,2021,Saturday,23:08,1,No,No,No,60

In [4]:
# connect to database

connection_string = "postgres:6186@localhost:5432/Road_Fatalaties"
engine = create_engine(f'postgresql://{connection_string}')

In [5]:
# confirm tables

engine.table_names()

['fatalaties', 'crashes']

In [7]:
# use pandas to load dataframe to database

fatalaties.to_sql(name='fatalaties', con=engine, if_exists='append', index=False)
fatal_crash.to_sql(name='crashes', con=engine, if_exists='append', index=False)

In [8]:
pd.read_sql_query('select * from fatalaties', con=engine).head()

   id  crash_id         road_user age_group
0   1  20215023     Pedal cyclist  40_to_64
1   2  20215024            Driver  40_to_64
2   3  20215004  Motorcycle rider  40_to_64
3   4  20215018  Motorcycle rider  40_to_64
4   5  20215001         Passenger  17_to_25

In [9]:
pd.read_sql_query('select * from crashes', con=engine).head()

,id,crash_id,state,month,year,dayweek,time,number_fatalities,bus_involvement,heavy_rigid_truck_involvement,articulated_truck_involvement,speed_limit
0,1,20215009,WA,1,2021,Saturday,5:55,1,No,No,No,80
1,2,20215018,WA,1,2021,Sunday,19:31,1,No,No,No,50
2,3,20215007,WA,1,2021,Monday,14:44,1,No,No,No,0
3,4,20215010,WA,1,2021,Tuesday,7:05,1,No,No,No,70
4,5,20215015,WA,1,2021,Saturday,23:08,1,No,No,No,60