# Data Load into postgreSQL database

### Import Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Read in CSV files to be loaded to database

In [2]:
csv_a = "Resources/fatalities_wa.csv"
fatalities = pd.read_csv(csv_a)
fatalities.head()

   crash_id         road_user age_group
0  20215023     Pedal cyclist  40_to_64
1  20215024            Driver  40_to_64
2  20215004  Motorcycle rider  40_to_64
3  20215018  Motorcycle rider  40_to_64
4  20215001         Passenger  17_to_25

In [3]:
csv_b = "Resources/fatalcrash_wa.csv"
fatal_crash = pd.read_csv(csv_b)
fatal_crash.head()

,crash_id,state,month,year,dayweek,time,number_fatalities,bus_involvement,heavy_rigid_truck_involvement,articulated_truck_involvement,speed_limit
0,20215009,WA,1,2021,Saturday,5:55,1,No,No,No,80
1,20215018,WA,1,2021,Sunday,19:31,1,No,No,No,50
2,20215007,WA,1,2021,Monday,14:44,1,No,No,No,0
3,20215010,WA,1,2021,Tuesday,7:05,1,No,No,No,70
4,20215015,WA,1,2021,Saturday,23:08,1,No,No,No,60

In [4]:
csv_c = "Resources/Crash_Information_cleaned.csv"
crash_info = pd.read_csv(csv_c)
crash_info.head()

   objectid    acc_id   longitude   latitude  crash_date  crash_time severity
0  24294075  10329795  115.944750 -31.871131  17/11/2020      1555.0    Fatal
1  24297241  10343696  115.832501 -32.736379  21/11/2020      1948.0    Fatal
2  24297242  10343700  115.773752 -32.423502  22/11/2020       240.0    Fatal
3  24297243  10343704  115.478455 -33.616733  20/11/2020      1540.0    Fatal
4  24297258  10343916  115.865841 -32.639631  27/11/2020       125.0    Fatal

### Add database connection

In [5]:
# connect to database
connection_string = "USERNAME:PASSWORD@localhost:5432/Road_Fatalaties"
engine = create_engine(f'postgresql://{connection_string}')

In [6]:
# confirm tables
engine.table_names()

['fatalities', 'crashes', 'fatal_crashes']

### Load dataframes into database

In [8]:
# use pandas to load dataframe to database
fatalities.to_sql(name='fatalities', con=engine, if_exists='append', index=False)
fatal_crash.to_sql(name='crashes', con=engine, if_exists='append', index=False)
crash_info.to_sql(name='fatal_crashes', con=engine, if_exists='append', index=False)

### Check that dataframes have loaded successfully

In [10]:
pd.read_sql_query('select * from fatalities', con=engine).head()

   id  crash_id         road_user age_group
0   1  20215023     Pedal cyclist  40_to_64
1   2  20215024            Driver  40_to_64
2   3  20215004  Motorcycle rider  40_to_64
3   4  20215018  Motorcycle rider  40_to_64
4   5  20215001         Passenger  17_to_25

In [11]:
pd.read_sql_query('select * from crashes', con=engine).head()

,id,crash_id,state,month,year,dayweek,time,number_fatalities,bus_involvement,heavy_rigid_truck_involvement,articulated_truck_involvement,speed_limit
0,1,20215009,WA,1,2021,Saturday,5:55,1,No,No,No,80
1,2,20215018,WA,1,2021,Sunday,19:31,1,No,No,No,50
2,3,20215007,WA,1,2021,Monday,14:44,1,No,No,No,0
3,4,20215010,WA,1,2021,Tuesday,7:05,1,No,No,No,70
4,5,20215015,WA,1,2021,Saturday,23:08,1,No,No,No,60

In [12]:
pd.read_sql_query('select * from fatal_crashes', con=engine).head()

,id,objectid,acc_id,longitude,latitude,crash_date,crash_time,severity
0,1,24294075,10329795,116,-32,17/11/2020,1555.0,Fatal
1,2,24297241,10343696,116,-33,21/11/2020,1948.0,Fatal
2,3,24297242,10343700,116,-32,22/11/2020,240.0,Fatal
3,4,24297243,10343704,115,-34,20/11/2020,1540.0,Fatal
4,5,24297258,10343916,116,-33,27/11/2020,125.0,Fatal